n8n/facebook-crosspost.workflow.json
{
  "name": "facebook-crosspost",
  "nodes": [
    {
      "parameters": {
        "path": "facebook-crosspost",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nconst body = $json.body ?? $json;\nconst expectedSecret = $env.N8N_FACEBOOK_WEBHOOK_SECRET;\nconst actualSecret = headers['x-n8n-webhook-secret'] || headers['X-N8N-Webhook-Secret'];\n\nif (!expectedSecret) {\n  return [{ json: { success: false, error: 'N8N_FACEBOOK_WEBHOOK_SECRET is not configured' } }];\n}\n\nif (!actualSecret || actualSecret !== expectedSecret) {\n  return [{ json: { success: false, error: 'Invalid webhook secret' } }];\n}\n\nif (!body || typeof body !== 'object' || Array.isArray(body)) {\n  return [{ json: { success: false, error: 'Webhook payload must be a JSON object' } }];\n}\n\nif (!body.facebook?.message || !body.facebook?.link) {\n  return [{ json: { success: false, error: 'Missing facebook.message or facebook.link in payload' } }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    payload: body,\n    graphUrl: `https://graph.facebook.com/${$env.FACEBOOK_API_VERSION}/${$env.FACEBOOK_PAGE_ID}/feed`,\n    message: body.facebook.message,\n    link: body.facebook.link,\n  },\n}];"
      },
      "id": "Code_Validate",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success === false}}",
              "value2": true
            }
          ]
        }
      },
      "id": "If_Validation_Failed",
      "name": "Validation Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "Respond_Invalid",
      "name": "Respond Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1010,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.graphUrl}}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{$json.message}}"
            },
            {
              "name": "link",
              "value": "={{$json.link}}"
            },
            {
              "name": "access_token",
              "value": "={{$env.FACEBOOK_PAGE_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "Http_Facebook",
      "name": "Post to Facebook Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1010,
        420
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "if ($json.id) {\n  return [{ json: { success: true, facebookPostId: String($json.id) } }];\n}\n\nconst errorMessage = $json.error?.message || $json.message || 'Facebook Page post failed';\nreturn [{ json: { success: false, error: String(errorMessage) } }];"
      },
      "id": "Code_Map_Response",
      "name": "Map Facebook Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": "={{$json.success ? 200 : 500}}"
        }
      },
      "id": "Respond_Result",
      "name": "Respond Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1510,
        420
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Secret": {
      "main": [
        [
          {
            "node": "Validation Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Failed?": {
      "main": [
        [
          {
            "node": "Respond Invalid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to Facebook Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook Page": {
      "main": [
        [
          {
            "node": "Map Facebook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Facebook Response": {
      "main": [
        [
          {
            "node": "Respond Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionId": "facebook-crosspost-v1",
  "active": false
}
