n8n/instagram-crosspost.workflow.json
{
  "name": "instagram-crosspost",
  "nodes": [
    {
      "parameters": {
        "path": "instagram-crosspost",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nconst body = $json.body ?? $json;\nconst expectedSecret = $env.N8N_INSTAGRAM_WEBHOOK_SECRET;\nconst actualSecret = headers['x-n8n-webhook-secret'] || headers['X-N8N-Webhook-Secret'];\n\nif (!expectedSecret) {\n  return [{ json: { success: false, error: 'N8N_INSTAGRAM_WEBHOOK_SECRET is not configured' } }];\n}\n\nif (!actualSecret || actualSecret !== expectedSecret) {\n  return [{ json: { success: false, error: 'Invalid webhook secret' } }];\n}\n\nif (!body || typeof body !== 'object' || Array.isArray(body)) {\n  return [{ json: { success: false, error: 'Webhook payload must be a JSON object' } }];\n}\n\nif (!body.instagram?.caption || !body.instagram?.imageUrl) {\n  return [{ json: { success: false, error: 'Missing instagram.caption or instagram.imageUrl in payload' } }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    payload: body,\n    caption: body.instagram.caption,\n    imageUrl: body.instagram.imageUrl,\n  },\n}];"
      },
      "id": "Code_Validate",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "validation-failed-condition",
              "leftValue": "={{ $json.success === false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "If_Validation_Failed",
      "name": "Validation Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 401
        }
      },
      "id": "Respond_Invalid",
      "name": "Respond Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1010,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{`https://graph.facebook.com/v20.0/${$env.INSTAGRAM_IG_USER_ID}/media`}}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{$json.imageUrl}}"
            },
            {
              "name": "caption",
              "value": "={{$json.caption}}"
            },
            {
              "name": "access_token",
              "value": "={{$env.INSTAGRAM_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "Http_Instagram_Create",
      "name": "Create Instagram Media Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1010,
        420
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "if ($json.id) {\n  return [{ json: { success: true, creationId: String($json.id) } }];\n}\n\nconst errorMessage = $json.error?.message || $json.message || 'Instagram media container creation failed';\nreturn [{ json: { success: false, error: String(errorMessage) } }];"
      },
      "id": "Code_Map_Container_Response",
      "name": "Map Container Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "container-failed-condition",
              "leftValue": "={{ $json.success === false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "If_Container_Failed",
      "name": "Container Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1510,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{`https://graph.facebook.com/v20.0/${$env.INSTAGRAM_IG_USER_ID}/media_publish`}}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{$json.creationId}}"
            },
            {
              "name": "access_token",
              "value": "={{$env.INSTAGRAM_ACCESS_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "Http_Instagram_Publish",
      "name": "Publish Instagram Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        520
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "if ($json.id) {\n  return [{ json: { success: true, instagramPostId: String($json.id) } }];\n}\n\nconst errorMessage = $json.error?.message || $json.message || 'Instagram media publish failed';\nreturn [{ json: { success: false, error: String(errorMessage) } }];"
      },
      "id": "Code_Map_Instagram_Response",
      "name": "Map Instagram Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2010,
        520
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": "={{$json.success ? 200 : 500}}"
        }
      },
      "id": "Respond_Result",
      "name": "Respond Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2260,
        420
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Secret": {
      "main": [
        [
          {
            "node": "Validation Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Failed?": {
      "main": [
        [
          {
            "node": "Respond Invalid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Instagram Media Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Media Container": {
      "main": [
        [
          {
            "node": "Map Container Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Container Response": {
      "main": [
        [
          {
            "node": "Container Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Container Failed?": {
      "main": [
        [
          {
            "node": "Respond Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish Instagram Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Instagram Media": {
      "main": [
        [
          {
            "node": "Map Instagram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Instagram Response": {
      "main": [
        [
          {
            "node": "Respond Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionId": "instagram-crosspost-v1",
  "active": false
}
